<<<<<<< HEAD
<% if session[:user_id] %>
=======
<%# Add the Facebook login link here %>

>>>>>>> 476b809d07f2f050b96aa3681b1db96a01659b99
  <h1><%= @user.name %></h1>
  <h2>Email: <%= @user.email %></h2>
  <h2>Facebook UID: <%= @user.uid %></h2>
  <img src="<%= @user.image %>">
<% else %>
  <%= link_to('Log in with Facebook!', '/auth/facebook') %>
<<<<<<< HEAD
<% end %>
=======
<% end %>
>>>>>>> 476b809d07f2f050b96aa3681b1db96a01659b99
